.menu {
  display: flex;
  justify-content: space-between;

  padding: 30px 500px;

  &__item {
    display: flex;

    > p {
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 50px;
    }
  }

  &__checkbox {
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;

    > span {
      margin-left: 5px;
    }
  }
}
